<div class="container-fluid full-width-image">
  <div class="auth-container">
    <div class="auth-box">
      <div class="container">
        <div class="col-lg-4 col-md-6 col-sm-6 ml-auto mr-auto">
            <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
</div>
