@import 'theme-variables';

mat-dialog-container {
  .filter-container {
    background-color: $color-base;
  }
  .modal-header {
    margin: 0px;
    padding: 0px $padding-left-right-minimun;
    background: $color-bg-header;
    height: $popup-header-height;
    border: none;
    .button-close {
      margin: auto 0px !important;
      padding: 0;
      width: $button-CTA-height !important;
      min-width: $button-CTA-height !important;
      height: $button-CTA-height !important;
      min-height: $button-CTA-height !important;
      color: $color-base;
      border-color: $color-base;
      i,
      em {
        position: absolute;
        font-size: 30px;
        top: -2px;
        left: -2px;
      }
    }
    .modal-title {
      margin: auto 0px !important;
      color: $color-base;
    }
  }
  .modal-error {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    background-color: $color-critical;
    color: $color-base;
    padding: 5px 20px;
    i,
    em {
      font-size: 17px;
    }

    .error-dismiss {
      cursor: pointer;
      font-size: 25px;
    }

    .content {
      padding: 0 10px;
    }

    > * {
      align-self: center;
    }
  }

  .modal-body {
    padding: 30px;
    background: $color-base;
    overflow: auto;
    max-height: calc(100vh - 165px);
    .search-form {
      padding: 5px 20px;
      position: relative;

      .form-control {
        background: $color-bg-control-1;
        border-radius: 0;
        padding-left: $padding-left-right-minimun;
        padding-right: 45px;
        height: 41px;
        font-size: $data-font-size;
        box-shadow: none;
      }

      input {
        border-right: none;
      }

      .search-navigation {
        position: absolute;
        right: 118px;
        top: 10px;
        color: rgba(0, 0, 0, 0.5);
      }

      .navigation-panel {
        background-color: #f4f7fa;
        border: 1px solid #ced4da;
        line-height: 1.5;
        height: 40px;
        border-left: none;
      }

      hr {
        width: 1px;
        height: 26px;
        top: -10px;
        right: 105px;
        position: absolute;
        background: rgba(0, 0, 0, 0.13);
      }

      .search-icon,
      .up-icon,
      .down-icon {
        font-size: 21px;
        position: absolute;
        top: 6px;
        color: $color-primary;
      }

      .search-icon {
        right: $padding-left-right-minimun;
      }

      .down-icon {
        right: 41px;
      }

      .up-icon {
        right: 69px;
      }

      button.mat-icon-button {
        border: none;
        top: 4px;
        width: 32px;
        height: 32px;
        line-height: 32px;
      }
    }
    .search-info {
      padding: 5px $padding-left-right-minimun;
      box-shadow: 0 3px 6px 0 rgba(19, 40, 51, 0.18);
      background-color: rgba(0, 90, 171, 0.1);
      a {
        text-decoration: none;
        color: $color-primary;
      }
    }
    .search-body {
      height: 454px;
      overflow: auto;
    }

    .additional-input {
      .form-control {
        background: $color-bg-control-1;
        border-radius: 0;
        padding-left: 15px;
        padding-right: 15px;
        height: 48px;
        font-size: $data-font-size;
        box-shadow: none;
      }
    }
  }

  .modal-footer {
    padding: 0px $padding-left-right-minimun;
    height: $popup-footer-height;
    background: $color-base;
    justify-content: center;

    button {
      height: $popup-button-CTA-height;
      min-width: $popup-button-CTA-min-width;
      margin-left: 10px;
    }
  }

  /** REMOVE THIS LATER */
  // .container-fluid {
  //     padding: 0;
  //     overflow: hidden;
  // }

  &.mat-dialog-container {
    overflow: hidden;
    padding: 0;
    transform: none;
    border-radius: 16px;
    background: transparent;
  }
}

// for Dialog
.cdk-overlay-container {
  .sysmex-dialog {
    background: rgba(0, 0, 0, 0.32);
    pointer-events: initial;
    &.hidden {
      display: none;
    }
  }
}

.cdk-overlay-backdrop.cdk-overlay-transparent-backdrop.cdk-overlay-backdrop-showing {
  background: transparent;
  opacity: unset;
}
