<div class="alert alert-with-icon" data-notify="container" [ngClass]="{
        'alert-danger': data.type === 'error',
        'alert-success': data.type === 'success',
        'alert-warning': data.type === 'warning',
        'alert-info': data.type === 'information'
      }">
  <i class="material-icons" data-notify="icon" aria-hidden="true" *ngIf="data.type === 'error'">error</i>
  <i class="material-icons" data-notify="icon" aria-hidden="true" *ngIf="data.type === 'warning'">warning</i>
  <i class="material-icons" data-notify="icon" aria-hidden="true" *ngIf="data.type === 'success'">check</i>
  <i class="material-icons" data-notify="icon" aria-hidden="true" *ngIf="data.type === 'information'">add_alert</i>
  <button mat-button type="button" class="close" data-dismiss="alert" aria-label="Close" (click)="dismiss()">
    <i class="material-icons snack-bar-dismiss" aria-hidden="true">close</i>
  </button>
  <span id="snack-bar-span-content" data-notify="message" [innerHTML]="data.content"> </span>
</div>