<div class="login-container">
  <div class="login-content">
    <mat-toolbar class="login-toolbar"  >CRM App</mat-toolbar>
    <mat-card>
      <form [formGroup]="loginForm" novalidate (ngSubmit)="login()">
        <mat-form-field>
          <mat-icon matPrefix>person_outline</mat-icon>
          <input
            autofocus
            type="text"
            matInput
            placeholder="Username"
            formControlName="username"
          />
          <mat-error>Please enter Username</mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-icon matPrefix>lock_outline</mat-icon>
          <input
            type="password"
            autocomplete="false"
            matInput
            placeholder="Password"
            formControlName="password"
          />
          <mat-error>Please enter password</mat-error>
        </mat-form-field>
        <p class="card-description text-center text-danger" [hidden]="!error"> {{ error }}</p>
        <button type="submit" class="btn btn-fill btn-rose" mat-raised-button [disabled]="isLoading">Login</button>
      </form>
    </mat-card>
  </div>
</div>
