.login-container {
  height: 100%;
  width: 100%;
  align-items: center;
  display: flex;
  .mat-card{
    border-radius:0 ;
  }
}

form {
  width: 100%;
}

.login-content {
  width: 400px;
  display: block;
  margin: 0 auto;
}

.login-toolbar {
  justify-content: center;
  background-color: #e91e63;
  color: #fff;
}

.mat-form-field {
  width: 100%;
  display: block;
  margin-bottom: 10px;
}

.mat-raised-button {
  width: 100%;
  margin-top: 15px;
}
