<div class="modal-header">
  <h4 class="modal-title">{{title}} </h4>
  <button mat-stroked-button class="mat-round button-close" (click)="closeModal()">
    <i class="material-icons" aria-hidden="true">
      close
    </i>
  </button>
</div>
<div class="modal-body">

  <form [formGroup]="editorForm">
    <div class="row">
      <div class="col-12 col-md-6">
        <mat-form-field class="full-width">
          <mat-label>Tên Đăng nhập </mat-label>
          <input matInput formControlName="userName" placeholder="Enter Text" maxlength="100" required />
          <mat-error>Tên đăng nhập không được để trống</mat-error>
        </mat-form-field>
      </div>
      <div class="col-12 col-md-6" *ngIf="!isEdit">
        <mat-form-field class="full-width" *ngIf="!isEdit">
          <mat-label>Mật Khẩu </mat-label>
          <input matInput formControlName="password" type="password" placeholder="Enter Text" minlength="6" required
                 pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[$@$!%*?&])[A-Za-z\d$@$!%*?&].{6,}" />
          <mat-error *ngIf="editorForm.get('password').hasError('required') && editorForm.get('password').touched">
            Mật khẩu không được để trống
          </mat-error>
          <mat-error *ngIf="editorForm.get('password').hasError('pattern') && editorForm.get('password').touched">
            Mật khẩu phải có ít nhất 6 kí tự,có chứa ký tự số, chữ viết hoa, kí tự đặc biệt (@#$%&....)
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-12 col-md-6">
        <mat-form-field class="full-width">
          <mat-label>Họ Tên </mat-label>
          <input matInput formControlName="fullName" placeholder="Enter Text" maxlength="100" required />
          <mat-error>Họ tên không được để trống</mat-error>
        </mat-form-field>

      </div>
      <div class="col-12 col-md-6">
        <mat-form-field class="full-width">
          <mat-label>Ngày sinh </mat-label>
          <input matInput [matDatepicker]="picker" placeholder="Chọn ngày sinh" (click)="picker.open()"
                 formControlName="birthDay" required>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-error>Ngày sinh không được để trống</mat-error>
        </mat-form-field>
      </div>

      <div class="col-12 col-md-6">
        <mat-form-field class="full-width">
          <mat-label>Email </mat-label>
          <input matInput type="email" required formControlName="email" placeholder="Enter Text" maxlength="200" />
          <mat-error *ngIf="editorForm.get('email').hasError('required') && editorForm.get('email').touched">
            Email
            không được để trống
          </mat-error>
          <mat-error *ngIf="editorForm.get('email').hasError('email') && editorForm.get('email').touched">
            Email không
            hợp lệ
          </mat-error>
        </mat-form-field>

      </div>
      <div class="col-12 col-md-6">
        <mat-form-field class="full-width">
          <mat-label>Số Điện thoại </mat-label>
          <input matInput required formControlName="phoneNumber" placeholder="Enter Text" maxlength="100"
                 pattern="(0[3|5|7|8|9]|01[2|6|8|9])+([0-9]{8})\b" />
          <mat-error *ngIf="editorForm.get('phoneNumber').hasError('required') && editorForm.get('phoneNumber').touched">
            Không được để trống
          </mat-error>
          <mat-error *ngIf="editorForm.get('phoneNumber').hasError('pattern') && editorForm.get('phoneNumber').touched">
            Số
            điện thoại không hợp lệ
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-12 col-md-6">
        <mat-form-field class="full-width">
          <mat-label>Địa Chỉ </mat-label>
          <input matInput formControlName="address" placeholder="Enter Text" />
        </mat-form-field>
      </div>
      <div class="col-12 col-md-6">
        <mat-form-field class="full-width">
          <mat-label>Tài Khoản Ngân Hàng</mat-label>
          <input matInput formControlName="bankNumber" placeholder="Enter Text" maxlength="100" />
        </mat-form-field>
      </div>

      <div class="col-12 col-md-6">
        <mat-form-field class="full-width">
          <mat-label> Giới tính </mat-label>
          <mat-select formControlName="gender">
            <mat-option [value]="1">
              Nam
            </mat-option>
            <mat-option [value]="2">
              Nữ
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-12 col-md-6">
        <mat-form-field class="full-width">
          <mat-label>Điện thoại cố định</mat-label>
          <input matInput formControlName="localPhone" placeholder="Enter Text" maxlength="100" />
        </mat-form-field>
      </div>

      <div class="col-12 col-md-6">
        <mat-form-field class="full-width">
          <mat-label>Phân quyền</mat-label>
          <mat-select formControlName="role_Name">
            <mat-option [value]="item" *ngFor="let item of roleList">
              {{item}}
            </mat-option>

          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-12 col-md-6"> </div>
    </div>
  </form>
</div>

<div class="modal-footer">
  <div class="col-12 text-right p-0">
    <button mat-stroked-button type="button" (click)="closeModal()">
      Hủy
    </button>
    <button mat-stroked-button class="btn btn-fill btn-rose" (click)="onSubmit()">
      Lưu
    </button>
  </div>
</div>
