<div class="main-content">
  <div class="card">
    <div class="card-header card-header-icon card-header-rose">
      <div class="card-icon">
        <i class="material-icons" aria-hidden="true">assignment</i>
      </div>
      <h4 class="card-title">
        Quản lý User
        <button mat-stroked-button type="button" (click)="openDialog()">Thêm mới</button>
      </h4>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table" aria-describedby="user-table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Tên Đăng Nhập</th>
              <th scope="col">Họ Tên</th>
              <th scope="col">Email</th>
              <th scope="col">Số ĐT</th>
              <th scope="col">Địa Chỉ</th>
              <th scope="col">Giới Tính</th>
              <th scope="col">Số Tài Khoản</th>
              <th scope="col">Phân Quyền</th>
              <th scope="col" class="text-right">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of dataSource; let index = index">
              <td>{{ index }}</td>
              <td>{{ item.userName }}</td>
              <td>{{ item.fullName }}</td>
              <td>{{ item.email }}</td>
              <td>{{ item.phoneNumber }}</td>
              <td>{{ item.address }}</td>
              <td>{{ item.gender }}</td>
              <td>{{ item.bankNumber }}</td>
              <td>{{ item.role_Name }}</td>
              <td class="td-actions text-right">
                <button mat-raised-button type="button" class="btn btn-info btn-link">
                  <i class="material-icons" aria-hidden="true">person</i>
                </button>
                <button mat-raised-button type="button" class="btn btn-success btn-link" (click)="openDialog(item )">
                  <i class="material-icons" aria-hidden="true">edit</i>
                </button>
                <button mat-raised-button type="button" class="btn btn-danger btn-link">
                  <i class="material-icons" aria-hidden="true">close</i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="spinner-loading" *ngIf="isloading">
          <mat-spinner></mat-spinner>
        </div>
      </div>
    </div>
  </div>
</div>
