﻿<nav
  class="navbar navbar-expand-lg navbar-transparent  navbar-absolute fixed-top"
>
  <div class="container-fluid">
    <div class="navbar-wrapper">
        <form class="navbar-form">
          <div class="input-group no-border">
            <input type="text" value="" class="form-control" placeholder="Search..." />
            <button mat-raised-button type="submit" class="btn btn-white btn-round btn-just-icon">
              <i class="material-icons" aria-hidden="true">search</i>
              <div class="ripple-container"></div>
            </button>
          </div>
        </form>
    </div>
    <div class="collapse navbar-collapse justify-content-end" id="navigation">
     
      <ul class="navbar-nav">
        <li class="nav-item" ngbDropdown display="dynamic" placement="bottom-right">
            <a href="javascript:void(0)" id="userTogger" ngbDropdownToggle  >
              <i class="material-icons" aria-hidden="true">person</i>
              <span class="">{{getUserName()}}</span>
            </a>
            <div ngbDropdownMenu aria-labelledby="userTogger" class="dropdown-menu">
              <a ngbDropdownItem href="#" (click)="$event.preventDefault()">Điểm danh</a>
              <a ngbDropdownItem href="#" (click)="$event.preventDefault()">Thông tin</a>
              <a ngbDropdownItem href="#" (click)="$event.preventDefault()">Đăng xuất</a> 
            </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
